.filterbar {
  width: 100%;
  height: 63px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 80px;
  position: fixed;
  background-color: #fdfdfd;
}
.filter-form {
  margin-top: 22px;
  margin-left: 25px;

  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: #505050;
}
