.listing-item {
  width: 45%;
  padding: 0 2.5%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.listing-item a {
  text-decoration: none;
}

.listing-item img {
  border-radius: 1px;
  width: 100%;
  height: 240px;
}

.listing-item h4 {
  color: #82070f;
  font-size: 12px;
  margin: 5px 0 0 0;
  font-weight: bolder;
  text-transform: uppercase;
}

.listing-item h3 {
  color: #505050;
  font-size: 17px;
  margin: 5px 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.listing-item p {
  margin: 5px 0 0 0;
  color: #656565;
  font-size: 14px;
  font-weight: 300;
}

.listing-item h5 {
  margin: 7px 0 0 0;
  color: #454545;
  font-size: 10px;
  font-weight: 300;

  i {
    color: #01b3ba;
    font-size: 10px;
  }
}
