.listing-index a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.listing-index ul {
  margin-top: 30px;
}

.listing-index img {
  border-radius: 3px;
  width: 100%;
  height: 285px;
}

.listing-index h3 {
  color: #505050;
  font-size: 17px;
  margin: 3px 0px 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.listing-index h4 {
  color: black;
  font-size: 12px;
  margin: 3px 0 0 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.listing-index p {
  margin-top: 5px;
  color: #656565;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 60px;
  letter-spacing: 1px;
}
