#listings-div {
  width: 100%;
  height: inherit;
}

.map {
  float: right;
  height: inherit;
  width: 40%;
}

.listing-index {
  float: left;
  width: 50%;
  height: inherit;
}

.listing-index ul {
  list-style: none;
  column-count: 2;
  column-gap: 10px;
  padding-left: 20px;
}

.listing-index ul li {
  cursor: pointer;
}
