.listing-div {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}

.map {
  float: right;
  height: 500px;
  width: 40%;
}

.listing-index {
  float: left;
  width: 50%;
}

.listing-index ul {
  list-style: none;
  column-count: 2;
  column-gap: 10px;
}
