#listing-div {
  display: flex;
  justify-content: space-between;
}

.map-wrapper {
  position: fixed;
  right: 0;
  margin-top: 145px;
  height: auto;
  width: 34%;
}

.map {
  height: 100vh;
  width: 100%;
}

.listing-index {
  margin-top: 145px;
  float: left;
  width: 66%;
  overflow: scroll;
}

.listing-index ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
}
