#listing-show-page {
  height: inherit;
}

.listing-img {
  width: inherit;
  height: 73%;
}

.listing-img img {
  width: 100%;
  height: 100%;
}

.listing-information {
  margin-left: 8%;
  margin-right: 8%;
}
