.reviews {
  border-top: 1px solid #d9d9d9;
  margin-bottom: 50px; 
}
.reviews h2 {
  color: #505050;
  font-size: 26px;
  font-weight: 600;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 40px;
  padding-bottom: 20px;
}

.review-show {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
}

.review-show h5 {
  margin: 0;
  color: #505050;
  font-size: 18px;
  font-weight: 400;
}
.review-show p {
  color: #707070;
  font-size: 14px;
  font-weight: 300;
}
