.review-form {
  margin-top: 80px;
  display: flex;
  margin-left: 80px;
  height: 550px;

  h1 {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    color: #505050;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    width: 100%;
  }
}

.listing-div {
  margin-top: 100px;
  float: left;
  width: 35%;
  height: 600px;
  margin-right: 5%;
}
.listing-div img {
  border-radius: 5px;
  width: 100%;
  height: 300px;
}
.listing-div h3 {
  color: #505050;
  font-size: 17px;
  margin: 3px 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}
.listing-div h4 {
  color: black;
  font-size: 12px;
  margin: 3px 0 0 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.listing-div p {
  margin-top: 1px;
  color: #656565;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 70px;
}

.review-form {
  form {
    float: right;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 100px;
    height: auto;
    padding: 10px;
    margin-left: 120px;
    width: 400px;
  }
}

.rating {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  h2 {
    color: #505050;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    width: fit-content;
    margin: 0 auto;

  }
  input {
    width: 50%;
    margin: 20px 25%;
    border: 1px solid #d9d9d9;
    background-color: #fefefe;
    font-size: 16px;
    color: #01b3ba;
    margin-bottom: 10px;
    padding-left: 5px;
  }
}

.review-text {
  h2 {
    color: #505050;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  textarea {
    width: 70%;
    margin: 0 15%;
    height: 200px;
    border: 1px solid #d9d9d9;
    font-family: 'Poppins', sans-serif;
    color: #505050;
    font-size: 18px;
  }
}

#review-button {
  background-color: #01b3ba;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 90px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 150px;
}
