.home-content {
  margin: 0 auto;
  display: block;
  width: 68%;
  padding-top: 9%;
}

.home-content h1 {
  font-family: 'Poppins', sans-serif;
  color: #ff6666;
  font-size: 45px;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.home-content p {
  font-family: 'Poppins', sans-serif;
  color: #505050;
  font-size: 50px;
  margin-top: 0;
  letter-spacing: 1px;
  font-weight: 400;
}
