#modal-close {
  border: none;
  font-size: 12px;
  background-color: inherit;
  cursor: pointer;
}
.form-container {
  margin: 5%;
  width: auto;
  margin-top: 40px;

  form:first-of-type {
    border-bottom: 1px solid #d9d9d9;
  }

  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    color: #606060;
    font-size: 14px;
    font-weight: 300;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  h2 span {
    background:#fff;
    padding:0 10px;
  }
}

.form-container input {
  display: inline;
  margin: 0 auto;
  width: 90%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 16px;
  border: none;
  padding-left: 8px;
  padding-right: 0;
}

.form-container input:enabled {
  outline: none;
}

.username-input, .password-input {
  border: 1px solid #d9d9d9;
  font-size: 16px;
  display: flex;
  justify-content: space-between;

  i {
    font-size: 18px;
    color: #606060;
    padding: 15px 10px;
  }
}

.username-input {
  margin-top: 40px;

  i {
    padding: 15px 8px;
  }
}

.password-input input {
  border: none;
}

#submit-button {
  background-color: #FF5A5F;
  color: white;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.demo {
  margin-top: 30px;
  width: 100%;
  height: 50px;

  button {
    background-color: #01b3ba;
    color: white;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
  }
}
