.app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  clear: both;
  background-color: #fdfdfd;
  z-index: 2;
}
.navbar-search {
  margin-left: 25px;
  margin-right: 25px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.right-search {
  display: flex;
}
.logo-search {
  margin-left: 0px;
  margin-top: 25px;
  width: fit-content;
}
.search-bar {
  margin-top: 15px;
  margin-left: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #ccc;
  height: 45px;
  width: 560px;
  display: flex;
}

.search-icon {
  width: 50px;
  height: inherit;

  i {
    font-size: 24px;
    color: #606060;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 15px;
  }
}

.search-input {
  width: 500px;
  height: 100%;
  margin-left: 5px;

  form {
    margin-top: 7px;
  }
  input {
    border: none;
    width: 100%;
    height: 95%;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
    color: #404040;
  }
  input:enabled {
    outline: none;
  }
}
.user-logout {
  width: fit-content;
  height: 100%;

  ul {
    margin-top: 30px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  li:first-of-type {
    padding-right: 15px;
  }

  a {
    text-decoration: none;
    color: #454545;
  }
  a:hover {
    cursor: pointer;
  }

  button {
    border-bottom: 2px solid white;
  }

  button:hover {
    border-color: #505050;
    cursor: pointer;
  }
}
// .search-bar {
//   border: 1px solid #d9d9d9;
//   box-shadow: 3px 3px 3px #ccc;
//   height: 50px;
//   align-items: center;
//   margin-left: 40px;
//   width: 45%;
// }
//
// .user-logout {
//   margin-left: 445px;
// }

// .user-logout ul {
//   display: flex;
//   align-items: center;
//   list-style: none;
// }
//
// .user-logout ul li {
//   margin-right: 25px;
// }
// .user-logout button {
//   border-bottom: 2px solid white;
// }
//
// .user-logout button:hover {
//   border-color: #505050;
//   cursor: pointer;
// }
