.navbar-search {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  height: 75px;
  align-items: center;
}

.search-bar {
  border: 1px solid #d9d9d9;
  box-shadow: 3px 3px 3px #ccc;
  height: 50px;
  align-items: center;
  position: fixed;
  margin-left: 77px;
  width: 45%;
}

.search-bar i {
  font-size: 24px;
  color: #606060;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 10px;
}

.search-bar input {
  font-weight: 300;
  font-size: 20px;
  border: none;
  height: 80%;
  margin: 0 auto;
  margin-left: 20px;
}
input:enabled {
  outline: none;
}
