.navbar-search {
  display: flex;
  padding: 5px 0;
  height: 70px;
  align-items: center;
}

.search-bar {
  border: 1px solid #d9d9d9;
  box-shadow: 3px 3px 3px #ccc;
  height: 50px;
  align-items: center;
  margin-left: 40px;
  width: 45%;
}

.user-logout {
  margin-left: 445px;
}

.user-logout ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.user-logout ul li {
  margin-right: 25px;
}
.user-logout button {
  border-bottom: 2px solid white;
}

.user-logout button:hover {
  border-color: #505050;
  cursor: pointer;
}

.search-bar i {
  font-size: 24px;
  color: #606060;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 20px;
}

.search-bar input {
  font-weight: 300;
  font-size: 20px;
  border: none;
  height: 80%;
  margin: 0 auto;
  margin-left: 20px;
  width: 50%;
}
input:enabled {
  outline: none;
}
